{% extends "store/base.html" %}{% load widget_tweaks %} {% block style %}
<style>
  table {
    margin: auto;
  }

  td {
    padding-top: 10px;
    padding-left: 20px;

  }

  div.container {
    width: 400px;
  }
</style>
{% endblock %} {% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h4>ورود</h4>
      </div>
    </div>
    <div class="panel-body">
      <form method="post" action="{% url 'login' %}" class="form-horizontal">
        {% csrf_token %}
        <table class="table-responsive">
          <tr>
            <td>{{ form.username|add_class:'form-control'|attr:'placeholder:نام کاربری'}}</td>
          </tr>
          <tr>
            <td>{{ form.password|add_class:'form-control'|attr:'placeholder:کلمه عبور' }}</td>
          </tr>
          <tr>
            <td>
              <div class="g-recaptcha" data-sitekey="6Lcz_GgUAAAAAJgS_KsgmXqgQrKG3-3bC08OjSOH"></div>
            </td>
          </tr>
          <tr>
            <td>
              <input type="submit" value="ورود" class="btn btn-default" />
              <a href="{% url 'password_reset' %}">فراموشی رمز عبور</a>
            </td>
          </tr>
      </form>
      </table>
      <table class="table-responsive">
        <tr>
          <td>
            {% if form.errors %}
            <p>نام کاربری یا کلمه ی عبور اشتباه است.</p>
            {% endif %} {% if next %} {% if user.is_authenticated %}
            <p>شما مجاز به مشاهده ی این صفحه نیستید.</p>
            {% else %}
            <p>برای مشاهده ی این صفحه لطفا وارد حساب کاربری خود شوید.</p>
            {% endif %} {% endif %}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}