{% load static %}
<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="image/favicon.png" rel="icon" />
    <title>{% block title %}فروشگاه کتاب دانشگاه زنجان{% endblock %}</title>
    <meta name="description" content="فروشگاه کتاب دانشگاه زنجان">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link rel="stylesheet" type="text/css" href={% static 'store/css/bootstrap.min.css' %} />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> {% block style %}{% endblock %}
</head>

<body style="padding-top: 70px" dir="rtl">
    <div class="container">
        <!--navbar start-->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header navbar-right">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <a class="navbar-brand" href={% url 'home' %}>
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %} {% if user.username == "khan" %}
                        <li>
                            <a href={% url 'admin:index' %}>پنل ادمین</a>
                        </li>
                        {% endif %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href={% url 'profile' user.username%}>پروفایل</a>
                                </li>
                                <li>
                                    <a href={% url 'settings' %}>حساب کاربری</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href={% url 'logout' %}>خروج</a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li>
                            <a href={% url 'signup' %}>ثبت نام</a>
                        </li>
                        <li>
                            <a href={% url 'login' %}>ورود</a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="navbar-form navbar-left" role="search">
                        <form class="form-group" type="get" action="search" accept-charset="utf-8">
                            <input class="form-control" name="q" type="search" placeholder="جست و جو">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- navbar end-->
    <!-- main container start-->
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>