{% extends 'store/base.html' %} {% load static %} {% block title %}فروشگاه کتاب دانشگاه زنجان {% endblock %} {% block style%}
<style>
    #costume1.a {
        border: 1px solid green;
        width: 200px;
        height: 200px;
        float: left;
        margin: 10px;
        padding: 10px;

    }

    img {
        height: 100%;
        width: 100%;
    }
</style>
{% endblock %} {% block content %} {{q}}
<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-body">
            {%for b in book_list%}
            <div id="costume">
                <div id="costume1" class="a">
                    <img src="{{ b.image.url }}" class="img-responsive"> {{b.title}}
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                <h5>موضوعات</h5>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-responsive">
                {% for c in cat_list %}
                <tr>
                    <td>
                        <a href="">{{ c.name }}</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}